---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/Section.astro'
import Video from '@/components/Video.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  banner?: URL | undefined
}

// Your configuration options here
import banner from '@/assets/banner.jpg'
import downloadThumb from '@/assets/download-thumb.jpg'

let title = 'Astro Research Theme'
let description = 'Simple Astro Theme for Research'
let authors = [
  {
    id: '1',
    name: 'Adam Allen',
  },
  {
    id: '1',
    name: 'Peter fadler',
  },
];
let affiliations = [
  {
    id: '1',
    name: 'AREA44',
  },
];
let links = [
  {
    id: 'Paper PDF',
    url: 'https://raw.githubusercontent.com/AREA44/astro-research-theme/main/public/pdf-sample.pdf',
  },
  {
    id: 'Astro Banner',
    url: 'https://raw.githubusercontent.com/AREA44/astro-research-theme/main/public/banner.jpg',
  },
  {
    id: 'Code release on GitHub',
    url: 'https://github.com/AREA44/astro-research-theme',
  },
];
---

<BaseLayout title={title} description={description}>
  <div class="n-title">
    <h1>{title}</h1>
  </div>
  <div class="n-byline">
    <div class="byline">
      <ul class="authors">
        {
          authors.map((author) => (
            <li>
              {author.name}
              <sup>{author.id}</sup>
            </li>
          ))
        }
      </ul>
      <ul class="authors affiliations">
        {
          affiliations.map((affiliation) => (
            <li>
              <sup>{affiliation.id}</sup>
              {affiliation.name}
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div class="n-article">
    <div class="l-article">
      <Image src={banner} alt="Banner"/>
    </div>

    <Section id="Abstract">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue, dui
      sit amet commodo tempus, lorem ante tincidunt neque, vitae vulputate augue
      turpis vel nisl. Sed facilisis faucibus laoreet. Proin convallis, enim at
      iaculis facilisis, lorem sapien ullamcorper magna, id feugiat diam risus
      sit amet turpis. Vestibulum bibendum venenatis justo nec pharetra.
      Vestibulum interdum blandit lectus, ut mollis urna ullamcorper id. Aliquam
      erat volutpat. Aliquam aliquam dictum nulla, euismod imperdiet diam
      aliquam a. Mauris pharetra nunc nisi. Nunc sed dolor suscipit metus tempus
      varius. Pellentesque in metus id risus interdum viverra id vel urna.
    </Section>

    <Section id="Links">
      <div class="grid download-section">
        <div class="download-thumb">
          <a href="https://raw.githubusercontent.com/AREA44/astro-research-theme/main/public/pdf-sample.pdf">
            <Image
              src={downloadThumb}
              class="dropshadow"
              width="300"
              height="400"
              alt="Download Thumb"
            />
          </a>
        </div>
        <div class="download-links">
          <ul>
            {
              links.map((link) => (
                <li>
                  <a href={link.url}>{link.id}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </Section>

    <Section id="Videos">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue, dui
      sit amet commodo tempus, lorem ante tincidunt neque, vitae vulputate augue
      turpis vel nisl. Sed facilisis faucibus laoreet. Proin convallis, enim at
      iaculis facilisis, lorem sapien ullamcorper magna, id feugiat diam risus
      sit amet turpis. Vestibulum bibendum venenatis justo nec pharetra.
      Vestibulum interdum blandit lectus, ut mollis urna ullamcorper id. Aliquam
      erat volutpat. Aliquam aliquam dictum nulla, euismod imperdiet diam
      aliquam a. Mauris pharetra nunc nisi. Nunc sed dolor suscipit metus tempus
      varius. Pellentesque in metus id risus interdum viverra id vel urna.
      <Video
        src="Jellyfish-110877.mp4#t=0.001"
        name="Jellyfish"
        description="From Pixabay"
      />
    </Section>

    <Section id="Citation">
      <pre>
        <code is:raw>
@article{
  title = {Astro Research Theme},
  author = {AREA44},
  year = {2023},
  month = {05},
  day = {21},
}
        </code>
      </pre>
    </Section>

    <Section id="License">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue, dui
      sit amet commodo tempus, lorem ante tincidunt neque, vitae vulputate augue
      turpis vel nisl. Sed facilisis faucibus laoreet. Proin convallis, enim at
      iaculis facilisis, lorem sapien ullamcorper magna, id feugiat diam risus
      sit amet turpis. Vestibulum bibendum venenatis justo nec pharetra.
      Vestibulum interdum blandit lectus, ut mollis urna ullamcorper id. Aliquam
      erat volutpat. Aliquam aliquam dictum nulla, euismod imperdiet diam
      aliquam a. Mauris pharetra nunc nisi. Nunc sed dolor suscipit metus tempus
      varius. Pellentesque in metus id risus interdum viverra id vel urna.
    </Section>

    <Section id="Acknowledgments">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue, dui
      sit amet commodo tempus, lorem ante tincidunt neque, vitae vulputate augue
      turpis vel nisl. Sed facilisis faucibus laoreet. Proin convallis, enim at
      iaculis facilisis, lorem sapien ullamcorper magna, id feugiat diam risus
      sit amet turpis. Vestibulum bibendum venenatis justo nec pharetra.
      Vestibulum interdum blandit lectus, ut mollis urna ullamcorper id. Aliquam
      erat volutpat. Aliquam aliquam dictum nulla, euismod imperdiet diam
      aliquam a. Mauris pharetra nunc nisi. Nunc sed dolor suscipit metus tempus
      varius. Pellentesque in metus id risus interdum viverra id vel urna.
    </Section>
  </div>
</BaseLayout>

<style>
  img {
    width: 100%;
    height: auto;
  }
</style>
