---
import { Image } from "astro:assets";
import defaultBanner from "@/assets/banner.jpg";

interface Author {
  id: number | string;
  name: string;
}

interface Affiliation {
  id: number | string;
  name: string;
}

interface Props {
  title: string;
  authors: Author[];
  affiliations: Affiliation[];
}

const { title, authors, affiliations } = Astro.props as Props;
---

<header class="pt-16">
  <h1>{title}</h1>

  <section
    class="overflow-hidden text-sm leading-6 text-muted mb-8 border-y border-border py-4"
    aria-labelledby="authors-label affiliations-label"
  >
    <address class="not-italic">
      <h2 id="authors-label" class="sr-only">Authors</h2>
      <ul
        class="list-none text-center m-0 p-0 flex flex-wrap justify-center gap-x-4"
      >
        {
          authors.map((author) => (
            <li class="inline-block">
              {author.name}
              <sup class="ml-0.5">{author.id}</sup>
            </li>
          ))
        }
      </ul>
    </address>

    <h2 id="affiliations-label" class="sr-only">Affiliations</h2>
    <ul
      class="list-none text-center m-0 p-0 mt-2 flex flex-wrap justify-center gap-x-4"
    >
      {
        affiliations.map((aff) => (
          <li class="inline-block">
            <sup class="mr-0.5">{aff.id}</sup>
            {aff.name}
          </li>
        ))
      }
    </ul>
  </section>

  <figure class="mb-8">
    <Image src={defaultBanner} alt="Project banner" />
  </figure>

  <section>
    <h2>Abstract</h2>
    <p>
      <slot />
    </p>
  </section>
</header>
